<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AoC2020 Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @for (int i = 1; i <= 13; i++)
        {
            var _i = i;
            <li class="nav-item px-3">
                @for (int j = 1; j <= 2; j++)
                {
                    var _j = j;
                    <NavLink class="nav-link" href=@($"Day{i}Task{_j}")>
                        <span class="oi oi-star" aria-hidden="true"></span> Day @(_i) - Task @(_j)
                    </NavLink>
                }
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
