<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AoC2020 Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Day1Task1">
                <span class="oi oi-star" aria-hidden="true"></span> Day 1 - Task 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Day1Task2">
                <span class="oi oi-star" aria-hidden="true"></span> Day 1 - Task 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Day2Task1">
                <span class="oi oi-star" aria-hidden="true"></span> Day 2 - Task 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Day2Task2">
                <span class="oi oi-star" aria-hidden="true"></span> Day 2 - Task 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Day3Task1">
                <span class="oi oi-star" aria-hidden="true"></span> Day 3 - Task 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Day3Task2">
                <span class="oi oi-star" aria-hidden="true"></span> Day 3 - Task 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Day4Task1">
                <span class="oi oi-star" aria-hidden="true"></span> Day 4 - Task 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Day4Task2">
                <span class="oi oi-star" aria-hidden="true"></span> Day 4 - Task 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Day5Task1">
                <span class="oi oi-star" aria-hidden="true"></span> Day 5 - Task 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Day5Task2">
                <span class="oi oi-star" aria-hidden="true"></span> Day 5 - Task 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Day6Task1">
                <span class="oi oi-star" aria-hidden="true"></span> Day 6 - Task 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Day6Task2">
                <span class="oi oi-star" aria-hidden="true"></span> Day 6 - Task 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Day7Task1">
                <span class="oi oi-star" aria-hidden="true"></span> Day 7 - Task 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Day7Task2">
                <span class="oi oi-star" aria-hidden="true"></span> Day 7 - Task 2
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
